﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>BITM</b>
    </div>
    <strong>Copyright &copy; 2019 <a href="http://www.bitm.org.bd/">BASIS institute of Technology & Management</a>.</strong> All rights
    reserved.
</footer>
