﻿

<div id="Message">
  
    @if (@TempData["Error"] != null)
    {
        <div class="alert alert-fill alert-warning">
            <p>
                @TempData["Error"];
            </p>
        </div>
    }
    
     @if (@TempData["Success"] != null)
    {
        <div class="alert alert-fill alert-success">
            <p>
                @TempData["Success"];
            </p>
        </div>
    }
    @if (@TempData["Failed"] != null)
    {
        <div class="alert alert-danger alert-fill">
            <p>
                @TempData["Failed"];
            </p>
        </div>
    }

</div>






