﻿    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/Public/Assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Kamrul Hasan</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="">
                    <i class="fa fa-files-o"></i>
                    <span>Department</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("Department-Save")"><i class="fa fa-circle-o"></i>Save</a></li>
                    <li><a href="@Url.RouteUrl("Department-Show")"><i class="fa fa-circle-o"></i>Show</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Course</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("Course-Save")"><i class="fa fa-circle-o"></i>Save</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>Teacher</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("Teacher-Save")"><i class="fa fa-circle-o"></i>Save</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Assign To Teacher</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("CourseAssignTeacher-Save")"><i class="fa fa-circle-o"></i>Save</a></li>
                    <li><a href="@Url.RouteUrl("CourseAssignTeacher-Show")"><i class="fa fa-circle-o"></i>Course Statics</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Student</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("Student-Save")"><i class="fa fa-circle-o"></i>Register Student</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Allocate Classrooms</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("AllocateRoom-Save")"><i class="fa fa-circle-o"></i>Save</a></li>
                    <li><a href="@Url.RouteUrl("AllocateRoom-Show")"><i class="fa fa-circle-o"></i>View Class Schedule</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>Enroll In a Course</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("EnrollCourse-Save")"><i class="fa fa-circle-o"></i>EnrollCoure</a></li>
                   
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Result</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.RouteUrl("Result-Save")"><i class="fa fa-circle-o"></i>Save</a></li>
                    <li><a href="@Url.RouteUrl("Result-Show")"><i class="fa fa-circle-o"></i>View Result</a></li>
                </ul>
            </li>

            <li class="header">LABELS</li>
            <li><a href="@Url.RouteUrl("Course-UnassignAllCourses")"><i class="fa fa-circle-o text-red"></i> <span>Unassign All Courses</span></a></li>
            <li><a href="@Url.RouteUrl("AllocateRoom-UnallocateAllClassrooms")"><i class="fa fa-circle-o text-yellow"></i> <span>Unallocate All class Rooms</span></a></li>
        </ul>
    </section>
