﻿@using UniversityManagementSystemWebApp.Models
@using UniversityManagementSystemWebApp.Models.ViewModels

@{
    List<Department> departments = ViewBag.Departments;
    
    
}
@section stype {
<link href="~/Styles/sweetalert.css" rel="stylesheet" />
    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>
}

<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            
            
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 40px">Course Assign to Teacher</h4>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="AssignForm">
                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option value="0" disabled selected>===Select Department===</option>
                                    @foreach (Department department in departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="TeacherId" class="col-sm-3 control-label" style="text-align: center">Teacher</label>
                            <div class="col-sm-8">
                                <select name="TeacherId" class="form-control" id="TeacherId">
                                    <option  disabled selected value="0">===Select Teacher===</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="CreditTaken" class="col-sm-3 control-label" style="text-align: center">Credit To Be Taken</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="CreditTaken" id="CreditTaken" disabled value="">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="ReCredit" class="col-sm-3 control-label" style="text-align: center">Remaining Credit</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="ReCredit" id="ReCredit" disabled value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="CourseId" class="col-sm-3 control-label" style="text-align: center">Course Code</label>
                            <div class="col-sm-8">
                                <select name="CourseId" class="form-control" id="CourseId">
                                    <option disabled selected value="0">===Select Course Code===</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control" name="Name" id="Name" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Credit" class="col-sm-3 control-label" style="text-align: center">Credit</label>
                            <div class="col-sm-8">
                                <input type="text" disabled class="form-control" name="Credit" id="Credit" value="">
                            </div>
                        </div>
                       
                        <button class="btn btn-success pull-right" id="Submit" type="submit">
                            Assign
                        </button>
                    </form>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <button class="btn btn-primary" type="submit">Yes</button>
                    </div>
                    <div class="modal-footer">
                        
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cencel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script src="~/Scripts/sweetalert.min.js"></script>
    <script src="~/Scripts/sweetalert-dev.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            function callFun(id, credit) {
                var cid = id;
                var sum = 0;
                var json = { teacherId: cid };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadCourseAssignTeacherByTeacherId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {

                        if (data.length > 0) {
                            $.each(data, function(key, value) {
                                sum += value.CourseCredit;
                            });
                            $("#CreditTaken").val(credit);
                            var reCredit = credit - sum;
                            $("#ReCredit").val(reCredit);
                        } else {

                            $("#CreditTaken").val(credit);
                            $("#ReCredit").val(credit);
                        }

                    }

                });

            }


            $("#DepartmentId").on('change', function() {
                var deptId = $("#DepartmentId").val();
                $("#TeacherId").empty();
                $("#TeacherId").append('<option disabled selected value="0">===Select Teacher====</option>');
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadAllTeacherByDepartmentId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        if (data.length > 0)
                            $.each(data, function(key, value) {
                                $("#TeacherId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                            });
                        else {
                            $("#TeacherId").append('<option disabled selected value="0">===Select Teacher====</option>');
                        }
                    }
                });
            });

            $("#DepartmentId").on('change', function() {
                var deptId = $("#DepartmentId").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option disabled selected value="0">===Select Course====</option>');
                
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadAllCourseByDepartmentId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        if (data.length > 0) {
                            $.each(data, function(key, value) {
                                $("#CourseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');
                            });
                        } else {
                            $("#Name").empty();
                            $("#Credit").empty();
                        }
                    }
                });
            });

            $("#TeacherId").on('change', function() {
                var teachId = $("#TeacherId").val();
                $("#CreditTaken").show();
                $("#ReCredit").show();
                var json = { teacherId: teachId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadTeacherDetailsByTeacherId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                            callFun(data.Id, data.CreditTaken);
                    }
                });
            });

            $("#CourseId").on('change', function() {
                var couId = $("#CourseId").val();
                $("#Name").empty();
                $("#Credit").empty();
                var json = { CourseId: couId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadCourseDetailsByCourseId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $("#Name").val(data.Name);
                        var credit = data.Credit;
                        $("#Credit").val(credit);
                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#Submit').on('click', function (e) {
                
                var reCredit = $("#ReCredit").val();
                var credit = $("#Credit").val();
                var check = credit > reCredit;
               // alert(check);
                if (check===true) {
                    e.preventDefault();
                    var form = $(this).parents('form');
                    swal({
                        title: "Course Assign to Teacher",
                        text: "Course Credit ( " + credit + " ) And Remaining Credit (" + reCredit + " )Are you sure! To Give Extra Crdit?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: '#DD6B55',
                        confirmButtonText: 'Yes',
                        cancelButtonText: "No",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    }, function(isConfirm) {
                        if (isConfirm) form.submit();
                    });
                }
               
            });
        });
    </script>


    <script src="~/Public/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function() {


            $.validator.addMethod('Department', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Department===');
            $.validator.addMethod('Course', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Course===');

            $.validator.addMethod('Teacher', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Teacher===');

            $("#AssignForm").validate({
                rules: {
                    DepartmentId: {
                        required: true,
                        Department: true
                    },
                    CourseId: {
                        required: true,
                        Course: true
                    },
                    TeacherId: {
                        required: true,
                        Teacher: true

                    }
                },

                messages: {
                    DepartmentId: {
                        required: "===Select Department==="

                    },
                    CourseId: {
                        required: "===Select Course==="

                    },
                    TeacherId: {
                        required: "===Select Teacher==="

                    }
                }
            });
        });
    </script>


    <script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(3000).fadeOut('slow');
            }, 3000);
        });
    </script>






}

