﻿@using UniversityManagementSystemWebApp.Models
@using UniversityManagementSystemWebApp.Models.ViewModels

@{
    List<Department> departments = ViewBag.Departments;
    List<CourseAssignTeacherView> courseAssignTeacherStaticses = ViewBag.CourseStatics;
}

@section stype {
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />

}
<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="box">
                <div class="box-body">
                    <div class="box-header">
                        <div class="callout callout-success">
                            <h4 class="text-center" style="font-size: 40px">View Course Statics</h4>
                        </div>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 10px">
                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option value="0" disabled selected>===Select Department===</option>
                                    @foreach (Department department in departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row " id="schedule">
        <div class="col-sm-12">
            <div class="box" style="margin-top: 20px">
                

                
                <div class="box-body">
                    <div class="table-responsive" style="margin-top: 20px">
                        <table class="table table-bordered table-hover table-condensed table-striped" id="DepartmentTable">
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name/Title</th>
                                <th>Semester</th>
                                <th>Assigned To</th>
                            </tr>
                            </thead>
                            <tbody id="DetailsLoadTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#schedule").hide();
            var table = $("#DepartmentTable").DataTable();
            function callFunction(id, code, name,semester) {
                var cid = id;
               
 
                var json = { courseId: cid };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadCourseAssignTeacherByCourseId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //$("#DetailsLoadTable").append('<tr><td>' + code + '</td><td>' + name + '</td><td>' + semester + '</td><td style="font-style=bold">' + data + '</td><tr>');
                        table.row.add([
                            code,
                            name,
                            semester,
                            data
                        ]).draw();
                    }
                });
            }
            $("#DepartmentId").on('change', function () {

                var deptId = $("#DepartmentId").val();
                $("#schedule").show();
                $("#DetailsLoadTable").empty();
                table.clear().draw(false);
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadAllCourseAndSemesterByDepartmentId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            callFunction(value.CourseId, value.CourseCode, value.CourseName,value.SemesterName);
                        });
                    }
                });
            });
        });
    </script>
}

