﻿@using UniversityManagementSystemWebApp.Models.ViewModels

@{


}
@section stype {
    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>
}
<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 50px">Department</h4>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="DepartmentForm">

                        <div class="form-group">
                            <label for="Code" class="col-sm-3 control-label" style="text-align: center">Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Code" id="Code">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Name" id="Name">
                            </div>
                        </div>

                        
                        <button class="btn btn-primary pull-right" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

    <script src="~/Public/Scripts/jquery.validate.js"></script>
<script>
    $(document).ready(function () {
       
        $.validator.addMethod('Code', function (value, element) {
            return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value) || /^[a-z0-9\-]+$/i.test(value);
        }, 'Only letters and numbers');

            $("#DepartmentForm").validate({
                rules: {
                    Code: {
                        required: true,
                        Code: true,
                        minlength: 2,
                        maxlength: 7
                },
                Name: {
                    required: true
                   
                }
                
            },

            messages: {
                Code: {
                    required: "Enter Department Code",
                    minlength: "Length Must be Greater Than Or Equal To (2)",
                    maxlength:"Length Must be Less Than Or Equal To (7)"
                   
                    
                },
                Name: {
                    required: "Enter Department Name"
                }
            }
        });
    });
</script>

    <script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(1000).fadeOut('slow');
            }, 1000);
        });
    </script>


}

