﻿@using UniversityManagementSystemWebApp.Models
@model List<Department>
@{

}

@section stype {
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="box">
                <div class="callout callout-success">
                    <h4 class="text-center" style="font-size: 50px">Department</h4>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover" id="DepartmentTable">

                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tbody>

                            @foreach (Department department in Model)
                            {
                                <tr>
                                    <td>@department.Code</td>
                                    <td>@department.Name</td>
                                </tr>

                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#DepartmentTable').DataTable({
                select: true
            });
        });
    </script>

}

