﻿@using UniversityManagementSystemWebApp.Models

@{

    List<Department> departments = ViewBag.Departments;
    List<Semester> semesters = ViewBag.Semesters;
}

@section stype {
    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>
}

<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
           
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 50px">Course</h4>
                    </div>
                    <hr />
                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="CourseForm">

                        <div class="form-group">
                            <label for="Code" class="col-sm-3 control-label" style="text-align: center">Code</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Code" id="Code">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Name" id="Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Credit" class="col-sm-3 control-label" style="text-align: center">Credit</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Credit" id="Credit">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Description" class="col-sm-3 control-label" style="text-align: center">Description</label>
                            <div class="col-sm-8">
                                <textarea id="Description" class="form-control" name="Description" cols="10" rows="5"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option value="0" disabled selected>===Select Department===</option>
                                    @foreach (Department department in departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="SemesterId" class="col-sm-3 control-label" style="text-align: center">Semester</label>
                            <div class="col-sm-8">
                                <select name="SemesterId" class="form-control" id="SemesterId">
                                    <option value="0" disabled selected>===Select Semester===</option>
                                    @foreach (Semester semester in semesters)
                                    {
                                        <option value="@semester.Id">@semester.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {

    <script src="~/Public/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $.validator.addMethod('Code', function (value, element) {
                return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value) || /^[a-z0-9\-]+$/i.test(value);
            }, 'Only letters and numbers');

            $.validator.addMethod('Department', function (value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Department===');
            $.validator.addMethod('Semester', function (value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Semester===');

            $("#CourseForm").validate({
                rules: {
                    Code: {
                        required: true,
                        minlength: 5,
                        Code:true
                    },
                    Name: {
                        required: true
                        
                    },
                    Credit: {
                        required: true,
                        range: [.5, 5]

                    },
                    DepartmentId: {
                        required: true,
                        Department:true
                    },
                    SemesterId: {
                        required: true,
                        Semester:true
                    }
                },

                messages: {
                    Code: {
                        required: "Enter Department Code",
                        minlength: "Code must be at least five (5) characters long"
                    },
                    Name: {
                        required: "Enter Course Name"
                    },
                    Credit: {
                        required: "Enter Course Credit",
                        range: "Credit range must be from 0.5 to 5.0"

                    },
                    DepartmentId: {
                        required: "===Select Department==="
                        
                    },
                    SemesterId: {
                        required: "===Select Semester==="
                        
                    }
                }
            });
        });
    </script>
    <script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(1000).fadeOut('slow');
            }, 1000);
        });
    </script>

}

