﻿@{
    ViewBag.Title = "UnassignAllCourses";
}
@section stype {

}
<section class="content " style="margin-top: 20px">
    <div class="callout callout-success">
        <h6 class="text-center" style="font-size: 40px">Unassign All Courses</h6>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="text-center">
                <a href="#DeleteModal" style="margin-top: 80px" data-toggle="modal" class="btn btn-warning">    
                    UnassignAllCourses
                </a>
                <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Are you sure to unassign all courses?</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" style="font-size: 80px">
                                    <input type="hidden" name="unsign" value="1">
                                    <input style="height: 40px; width: 60px" type="submit" class="btn btn-danger" value="Yes">
                                    <button style="height: 40px; width: 60px" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <h3 class="text-center">Unassign All Courses</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
<script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(1000).fadeOut('slow');
            }, 1000);
        });
</script>

}
