﻿@using UniversityManagementSystemWebApp.Models
@using UniversityManagementSystemWebApp.Models.ViewModels

@{
    
    List<Department> departments = ViewBag.Departments;
    StudentView students = ViewBag.Students;
}
@section stype {

    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>
}

<section class="content " style="margin-top: 30px">
    <div class="callout callout-success">
        <h4 class="text-center" style="font-size: 40px">Student</h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="box">
                <div class="box-body">
                    <div class="box-header">
                        <h1 class="box-title">Register Student</h1>
                    </div>

                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="StudentForm">

                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Name" id="Name">
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="Email" class="col-sm-3 control-label" style="text-align: center">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Email" id="Email">
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="ContactNumber" class="col-sm-3 control-label" style="text-align: center">Contact No.</label>
                            <div class="col-sm-8">
                                <input id="ContactNumber" name="ContactNumber" type="text" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Date" class="col-sm-3 control-label" style="text-align: center">Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Date" id="Date">
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="Address" class="col-sm-3 control-label" style="text-align: center">Address</label>
                            <div class="col-sm-8">
                                <textarea id="Address" class="form-control" name="Address" cols="10" rows="5"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option value="0" disabled selected>===Select Department===</option>
                                    @foreach (Department department in departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <button class="btn btn-success pull-right" type="submit">Register</button>
                    </form>

                </div>
            </div>
        </div>
        @if (students == null)
        {

        }
        else
        {
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-body">
                        <div class="box-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12" style="text-align: center; font-style: italic; font-size: 20px;">
                                        <label>Student Registration Number</label><h6 style="font-size: 20px; color: red">@students.StudentRegistrationNumber</h6>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label  class="col-sm-3 control-label" >Department</label>
                                    <div class="col-sm-8">
                                        <h4>@students.DepartmentName</h4>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label" >Name</label>
                                    <div class="col-sm-8">
                                        <h4>@students.StudentName</h4>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Email</label>
                                    <div class="col-sm-8">
                                        <h4>@students.StudentEmail</h4>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Contact No.</label>
                                    <div class="col-sm-8">
                                        <h4>@students.StudentContactNumber</h4>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Date</label>
                                    <div class="col-sm-8">
                                        <h4>@students.StudentDate</h4>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Address</label>
                                    <div class="col-sm-8">
                                        <h4>@students.StudentAddress</h4>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@section scripts {

@*<script src="~/Public/Assets/datePicker/Jquery.js"></script>
<script src="~/Public/Assets/datePicker/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

    <script>
        $(function() {
            $("#Date").datepicker({ dateFormat: "yy-mm-dd" }).val();
            $('#Date').datepicker('setDate', new Date());
        });
    </script>
    <script src="~/Public/Scripts/jquery.validate.js"></script>

<script>
    $(document).ready(function () {
        $.validator.addMethod('Department', function (value, element) {
            return this.optional(element) || value > 0;
        }, '===Select Department===');
       

        $.validator.addMethod('Number', function (value, element) {
            return this.optional(element) || value > 0 && /^\d*$/.test(value);
        }, 'Number Must be Digit');

        

        $("#StudentForm").validate({
            rules: {
                Name: {

                    required: true

                },
                Email: {

                    required: true,
                    email: true

                },
                ContactNumber: {
                    required: true,
                    Number: true
                },
                Address: {
                    required: true

                },

                DepartmentId: {
                    required: true,
                    Department: true
                },
                Date: {
                    required: true
                }
            },

            messages: {
                Name: {
                    required: "Enter Teacher Name"
                },
                Email: {
                    required: "Enter Teacher Email",
                    email: "Please Enter a vaild Email"
                },
                ContactNumber: {
                    required: "Enter Teacher Contact No. "
                },
                Address: {
                    required: "Enter Teacher Address"
                },

                DepartmentId: {
                    required: "===Select Department==="

                },
               Date: {
                   required:"===Select Date=="
               }
            }
        });
    });
</script>





    <script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(1000).fadeOut('slow');
            }, 1000);
        });
    </script>


}