﻿@using UniversityManagementSystemWebApp.Models
@using UniversityManagementSystemWebApp.Models.ViewModels

@{
    
    List<Student> students = ViewBag.Students;
    Dictionary<double, double> dictionary = ViewBag.Data;
}
@section stype {
    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>



    
}

<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            
            @if (dictionary == null)
            {

            }
            else
            {
                foreach (KeyValuePair<double, double> banglPair in dictionary)
                {
                    <p>@banglPair.Key And @banglPair.Value</p>
                }
            }
            <div class="box">
                <div class="callout callout-success">
                    <h4 class="text-center" style="font-size: 40px">Enroll In a Course</h4>
                </div>
                <div class="box-body">

                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="EnrollForm">

                        <div class="form-group">
                            <label for="StudentId" class="col-sm-3 control-label" style="text-align: center">Registration</label>
                            <div class="col-sm-8">
                                <select name="StudentId" class="form-control" id="StudentId">
                                    <option value="0" disabled selected>===Select Registration===</option>
                                    @foreach (Student student in students)
                                    {
                                        <option value="@student.Id">@student.RegistrationNumber</option>
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="StudentName" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="StudentName" id="StudentName" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="StudentEmail" class="col-sm-3 control-label" style="text-align: center">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="StudentEmail" id="StudentEmail" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="DepartmentName" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="DepartmentName" id="DepartmentName" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="CourseId" class="col-sm-3 control-label" style="text-align: center">Course</label>
                            <div class="col-sm-8">
                                <select name="CourseId" class="form-control" id="CourseId">
                                    <option disabled selected value="0">===Select Course===</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Date" class="col-sm-3 control-label" style="text-align: center">Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Date" id="Date">
                            </div>
                        </div>

                        <button class="btn btn-success pull-right" type="submit">Enroll</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="~/Public/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function() {
            $.validator.addMethod('Student', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Student===');
            $.validator.addMethod('Course', function (value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Course===');

            $("#EnrollForm").validate({
                rules: {
                    StudentId: {
                        required: true,
                        Student: true
                    },
                    CourseId: {
                        required: true,
                        Course: true
                    },
                    Date: {
                        required: true
                    }

                },

                messages: {
                    
                    StudentId: {
                        required: "===Select Department==="
                    },
                    CourseId: {
                        required: "===Select Course==="
                    },
                    Date: {
                        required: "===Select Date==="
                    }
                }
            });
        });
    </script>




    <script type="text/javascript">
        $(document).ready(function() {
            $("#StudentId").on('change', function() {
                var stdId = $("#StudentId").val();
                var json = { studentId: stdId };
                //alert(json);
                $.ajax({
                    type: "POST",
                    url: '/EnrollCourse/loadStudent',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $("#StudentName").val(data.StudentName);
                        $("#StudentEmail").val(data.StudentEmail);

                        $("#DepartmentName").val(data.DepartmentName);
                        if (data.DepartmentId > 0) {
                            var dept = data.DepartmentId;
                            $("#CourseId").empty();
                            $("#CourseId").append('<option disabled selected value="0">===Select Course===</option>');
                            var values = { departmentId: dept };

                            $.ajax({
                                type: "POST",
                                url: '/EnrollCourse/loadCourses',
                                contentType: "application/json;charset=utf-8",
                                data: JSON.stringify(values),

                                success: function(data1) {
                                    // alert(data1);
                                    $.each(data1, function(key, value) {
                                        $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');
                                    });
                                }
                            });

                        }

                    }
                });
            });
        });
    </script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <script>
        $(function() {
            $("#Date").datepicker({ dateFormat: "yy-mm-dd" }).val();
            $('#Date').datepicker('setDate', new Date());
        });
    </script>
}