﻿@using UniversityManagementSystemWebApp.Models

@{

    List<Room> rooms = ViewBag.Rooms;
    List<Department> departments = ViewBag.Departments;
}
@section stype {
    <link href="~/Public/Content/TimePicker/css/timePicker.css" rel="stylesheet"/>
    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>


}

<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 40px">Room Allocation Information</h4>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="AllocationForm">
                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option value="0" disabled selected>===Select Department===</option>
                                    @foreach (Department department in departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="CourseId" class="col-sm-3 control-label" style="text-align: center">Course</label>
                            <div class="col-sm-8">
                                <select name="CourseId" class="form-control" id="CourseId">
                                    <option disabled selected value="0">===Select Course===</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="RoomId" class="col-sm-3 control-label" style="text-align: center">Room</label>
                            <div class="col-sm-8">
                                <select name="RoomId" class="form-control" id="RoomId">
                                    <option value="0" disabled selected>===Select Room===</option>
                                    @foreach (Room room in rooms)
                                    {
                                        <option value="@room.Id">@room.RoomNumber</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Day" class="col-sm-3 control-label" style="text-align: center">Day</label>
                            <div class="col-sm-8">
                                <select name="Day" class="form-control" id="Day">
                                    <option value="0" disabled selected>===Select Day===</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="FromStart" class="col-sm-3 control-label" style="text-align: center">From</label>
                            <div class="col-sm-8">
                                <input type="text" class="time-pickerfrom form-control" name="FromStart" id="FromStart">
                            </div>
                        </div>

                        <div class="form-group clockpickerTo">
                            <label for="ToEnd" class="col-sm-3 control-label" style="text-align: center">To</label>
                            <div class="col-sm-8">
                                <input type="text" class="time-pickerto form-control" name="ToEnd" id="ToEnd">
                            </div>
                        </div>

                        <button class="btn btn-success pull-right text-center" type="submit">Allocate</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {


    <script src="~/Public/Content/TimePicker/js/jquery-timepicker.js"></script>
        <script src="~/Public/Content/TimePicker/js/timePicker.js"></script>

        <script>
            $().ready(function(e) {
                $(".time-pickerto").hunterTimePicker();
                $('.time-pickerfrom').hunterTimePicker();
            });
        </script>




    <script type="text/javascript">
        $(document).ready(function() {
            $("#DepartmentId").on('change', function() {
                var deptId = $("#DepartmentId").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option disabled selected value="0">===Select Course===</option>');
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '/CourseAssignTeacher/LoadAllCourseByDepartmentId',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $.each(data, function(key, value) {
                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');
                        });
                    }
                });
            });
        });
    </script>
    <script src="~/Public/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function() {
            $("#AllocationForm").validate({
                rules: {
                    DepartmentId: {
                        required: true

                    },
                    CourseId: {
                        required: true


                    },
                    RoomId: {
                        required: true

                    },
                    Day: {
                        required: true

                    },
                    FromStart: {
                        required: true

                    },
                    ToEnd: {
                        required: true

                    }
                },

                messages: {
                    DepartmentId: {
                        required: "===Select Department==="
                    },
                    CourseId: {
                        required: "===Select Course==="
                    },
                    RoomId: {
                        required: "===Select Room==="
                    },
                    Day: {
                        required: "===Select Day==="

                    },
                    FromStart: {
                        required: "Please Select Hour and minuties"

                    },
                    ToEnd: {
                        required: "Please Select Hour and minuties"
                    }

                }
            });
        });
    </script>
    <script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(1500).fadeOut('slow');
            }, 1000);
        });
    </script>












}


