﻿@using UniversityManagementSystemWebApp.Models

@{
    List<Department> departments = ViewBag.Departments;
}

@section stype {
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css" rel="stylesheet" />
}
<section class="content " style="margin-top: 30px">
    
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 40px">Room Allocation Schedule</h4>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 20px">

                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option value="0" disabled selected>===Select Department===</option>
                                    @foreach (Department department in departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="AllocateRoom">
        <div class="col-sm-12">
            <div class="box" style="margin-top: 20px">
                <div class="box-body">
                    <div class="table-responsive" style="margin-top: 20px">
                        <table class="table table-bordered table-hover" id="DepartmentTable">
                            <thead>
                                <tr>
                                    <th>Course Code</th>
                                    <th>Name</th>
                                    <th>Schedule info</th>
                                </tr>
                            </thead>
                            <tbody id="DetailsLoadTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#AllocateRoom").hide();
            var table = $("#DepartmentTable").DataTable();
            function callFunction(id, code, name) {
                var cid = id;
                $("#DetailsLoadTable").empty();
                var json = { courseId: cid };
                $.ajax({
                    type: "POST",
                    url: '/AllocateRoom/Schedules',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        //$.each(data, function(key, value) {
                        //    $("#DetailsLoadTable").append('<tr><td>' + code + '</td><td>' + name + '</td><td class="text-center" >' + (value.length < 0 ? "No Schedule Assigned" : value) + '</td><tr>');
                        //});
                        table.row.add([
                            code,
                            name,
                            data
                        ]).draw();
                    }
                });
            }

            $("#DepartmentId").on('change', function() {
                var stdId = $("#DepartmentId").val();
                $("#DetailsLoadTable").empty();
                $("#AllocateRoom").show();
                
                table.clear().draw(false);
                var json = { departmentId: stdId };
                $.ajax({
                    type: "POST",
                    url: '/AllocateRoom/LoadCourses',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        if (data.length < 0) {
                            $("#DetailsLoadTable").append("No Course");
                        }
                        $.each(data, function(key, value) {
                            callFunction(value.Id, value.Code, value.Name);
                        });
                    }
                });
            });

        });
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.0/js/dataTables.select.min.js"></script>

}

