﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/fontawesome")
    @Styles.Render("~/bundles/AdminLTE")
    @Styles.Render("~/bundles/Ionicons")
    @Styles.Render("~/bundles/dist")
    @Styles.Render("~/bundles/bower_components")
    @Styles.Render("~/bundles/jvectormap")
    @Styles.Render("~/bundles/bootstrapdatepicker")
    @Styles.Render("~/bundles/bootstrapdaterangepicker")
    @Styles.Render("~/bundles/bootstrapwysihtml5")
    @RenderSection("stype", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="" class="logo">
            <span class="logo-mini"><b>University Management</b>System</span>
            <span class="logo-lg"><b>University Management</b>System</span>
        </a>
        @Html.Partial("Partial/_NavbarPartial")
    </header>
    <aside class="main-sidebar">
        @Html.Partial("Partial/_SidebarPartial")
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    @Html.Partial("Partial/_MessagePartial")
                </div>
            </div>
        </section>


        <section class="content">

            @RenderBody()

        </section>
    </div>
    @Html.Partial("Partial/_FooterPartial")
</div>
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Content/js")
@RenderSection("scripts", required: false)
</body>
</html>