﻿@using UniversityManagementSystemWebApp.Models

@{
    List<Designation> designations = ViewBag.Designations;
    List<Department> departments = ViewBag.Departments;
}

@section stype {
    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>




}

<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
           
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 40px">Teacher</h4>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="TeacherForm">
                        <div class="form-group">
                            <label for="Name" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Name" id="Name" required>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Address" class="col-sm-3 control-label" style="text-align: center">Address</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" name="Address" id="Address" cols="10" rows="5"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="Email" class="col-sm-3 control-label" style="text-align: center">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="Email" id="Email">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="ContactNumber" class="col-sm-3 control-label" style="text-align: center">Contact Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="ContactNumber" id="ContactNumber">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="DesignationId" class="col-sm-3 control-label" style="text-align: center">Designation</label>
                            <div class="col-sm-8">
                                <select name="DesignationId" class="form-control" id="DesignationId">
                                    <option value="0" disabled selected>===Select Designation===</option>
                                    @foreach (Designation designation in designations)
                                    {
                                        <option value="@designation.Id">@designation.Name</option>
                                    }
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label" style="text-align: center">Depatment</label>
                            <div class="col-sm-8">
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option value="0" disabled selected>===Select Depatment===</option>
                                    @foreach (Department department in departments)
                                    {
                                        <option value="@department.Id">@department.Name</option>
                                    }
                                </select>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="CreditTaken" class="col-sm-3 control-label" style="text-align: center">CreditTaken</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="CreditTaken" id="CreditTaken">
                            </div>
                        </div>

                        <button class="btn btn-success pull-right" type="submit">Save</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>

@section scripts {

    <script src="~/Public/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function() {
            $.validator.addMethod('Department', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Department===');
            $.validator.addMethod('Designation', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Designation===');

            $.validator.addMethod('Number', function (value, element) {
                return this.optional(element) || value > 0 && /^\d*$/.test(value);
            }, 'Number Must be Digit');

            $.validator.addMethod('CreditTaken', function(value, element) {
                return this.optional(element) || value > 0 && /^\d*$/.test(value);
            }, 'Credit Must be Postive number');

            $("#TeacherForm").validate({
                rules: {
                    Name: {
                       
                        required: true

                    },
                    Email: {
                        
                        required: true,
                        email: true

                    },
                    ContactNumber: {
                        required: true,
                        Number:true
                    },
                    Address: {
                        required: true

                    },

                    DepartmentId: {
                        required: true,
                        Department: true
                    },
                    DesignationId: {
                        required: true,
                        Designation: true
                    },
                    CreditTaken: {
                        required: true,
                        CreditTaken: true

                    }
                },

                messages: {
                    Name: {
                        required: "Enter Teacher Name"
                    },
                    Email: {
                        required: "Enter Teacher Email",
                        email: "Please Enter a vaild Email"
                    },
                    ContactNumber: {
                        required: "Enter Teacher Contact No. "
                    },
                    Address: {
                        required: "Enter Teacher Address"
                    },

                    DepartmentId: {
                        required: "===Select Department==="

                    },
                    DesignationId: {
                        required: "===Select Designation==="

                    },
                    CreditTaken: {
                        required: "Enter Teacher Credit"

                    }
                }
            });
        });
    </script>



    <script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(1000).fadeOut('slow');
            }, 1000);
        });
    </script>

}


