﻿@using UniversityManagementSystemWebApp.Models

@{
    List<Student> students = ViewBag.Students;
}

@section stype {
    <style>
        label.error {
            color: red;
            font-weight: bold;
            font-style: italic;
            font-size: 16px;
        }
    </style>




}

<section class="content " style="margin-top: 30px">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
           
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 40px">Result</h4>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 20px;" id="ResultForm">

                        <div class="form-group">
                            <label for="StudentId" class="col-sm-3 control-label" style="text-align: center">Registration</label>
                            <div class="col-sm-8">
                                <select name="StudentId" class="form-control" id="StudentId">
                                    <option value="0" disabled selected>===Select Registration===</option>
                                    @foreach (Student student in students)
                                    {
                                        <option value="@student.Id">@student.RegistrationNumber</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="StudentName" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="StudentName" id="StudentName" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="StudentEmail" class="col-sm-3 control-label" style="text-align: center">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="StudentEmail" id="StudentEmail" disabled>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="DepartmentName" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="DepartmentName" id="DepartmentName" disabled>
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="CourseId" class="col-sm-3 control-label" style="text-align: center">Course</label>
                            <div class="col-sm-8">
                                <select name="CourseId" class="form-control" id="CourseId">
                                    <option disabled selected value="0">===Select Course===</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Grade" class="col-sm-3 control-label" style="text-align: center">Course</label>
                            <div class="col-sm-8">
                                <select name="Grade" class="form-control" id="Grade">
                                    <option disabled selected value="0">===Select Grade===</option>
                                    <option value="A+">A+</option>
                                    <option value="A">A</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B">B</option>
                                    <option value="B-">B-</option>
                                    <option value="C+">C+</option>
                                    <option value="C">C</option>
                                    <option value="C-">C-</option>
                                    <option value="D+">D+</option>
                                    <option value="D">D</option>
                                    <option value="D-">D-</option>
                                    <option value="F">F</option>
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-success pull-right" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
<script src="~/Public/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function() {
            $.validator.addMethod('Student', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Student===');
            $.validator.addMethod('Course', function(value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Course===');
            $.validator.addMethod('Code', function (value, element) {
                return this.optional(element) || value > 0;
            }, '===Select Code===');

            $("#ResultForm").validate({
                rules: {
                    StudentId: {
                        required: true,
                        Student: true
                    },
                    CourseId: {
                        required: true,
                        Course: true
                    },
                    Grade: {
                        Grade:true,
                        required: true
                    }

                },

                messages: {
                    StudentId: {
                        required: "===Select Department==="
                    },
                    CourseId: {
                        required: "===Select Course==="
                    },
                    Grade: {
                        
                        required: "==Select Grade==="
                    }
                }
            });
        });
    </script>




    <script type="text/javascript">
        $(document).ready(function() {
            $("#StudentId").on('change', function() {
                var stdId = $("#StudentId").val();
                var json = { studentId: stdId };
                $.ajax({
                    type: "POST",
                    url: '/Result/LoadStudent',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $("#StudentName").val(data.StudentName);
                        $("#StudentEmail").val(data.StudentEmail);
                        $("#DepartmentName").val(data.DepartmentName);
                    }
                });
            });
            $("#StudentId").on('change', function() {
                var stdId = $("#StudentId").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option disabled selected value="0">===Select Course===</option>');
                var json = { studentId: stdId };
                $.ajax({
                    type: "POST",
                    url: '/Result/LoadCourses',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function(data) {
                        $.each(data, function(key, value) {
                            $("#CourseId").append('<option value=' + value.CourseId + '>' + value.CourseName + '</option>');
                        });
                    }
                });
            });
        });
    </script>
    <script>
        $(function() {
            setTimeout(function() {
                $('#Message').delay(1000).fadeOut('slow');
            }, 1000);
        });
    </script>


}




