﻿@using UniversityManagementSystemWebApp.Models

@{
    
    List<Student> students = ViewBag.Students;
    DateTime date = DateTime.Now.Date;
    var dateToday=date.ToLongDateString();
    var hour = DateTime.Now.Hour;
    var minuties = DateTime.Now.Minute;
   
}

@section stype {

    <style>
        
    </style>

}
<section class="content " style="margin-top: 30px">
   
    <div class="row" id="ignorePDF">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="box">
                <div class="box-body">
                    <div class="callout callout-success">
                        <h4 class="text-center" style="font-size: 40px">Result</h4>
                    </div>
                    <form method="POST" class="form-horizontal" style="margin-top: 20px">
                        <div class="form-group">
                            <label for="StudentId" class="col-sm-3 control-label" style="text-align: center">Registration</label>
                            <div class="col-sm-8">

                                <select name="StudentId" class="form-control" id="StudentId">
                                    <option value="0" disabled selected>===Select Registration===</option>
                                    @foreach (Student student in students)
                                    {
                                        <option value="@student.Id">@student.RegistrationNumber</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="StudentName" class="col-sm-3 control-label" style="text-align: center">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="StudentName" id="StudentName" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="StudentEmail" class="col-sm-3 control-label" style="text-align: center">Email</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="StudentEmail" id="StudentEmail" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="DepartmentName" class="col-sm-3 control-label" style="text-align: center">Department</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="DepartmentName" id="DepartmentName" disabled>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" style="background-color: white" id="content">
        <button onclick="window.print();">Export To PDF</button>
        <div class=" col-sm-12">

            <h1 style="margin-top: 30px; color: green; text-align: center; font-size: 36px">
                BASIS institute of Technology & Management
            </h1>
            <h3 style="margin-top: 10px; color: green; text-align: center;">
                Semester Grade Sheet
            </h3>
            <hr>
            <div class="row">
                <div class="col-sm-6 pull-left">

                    <h4> <span>Semseter</span> <span class="pull-right">Autumn</span></h4>

                    <h4> <span>Name </span> <span class="pull-right">Md.Kamrul Hasan</span></h4>

                    <h4> <span>Registration No.</span> <span class="pull-right">CSE-2018-001</span></h4>
                </div>




                <div class="col-sm-6 pull-right">


                    <h4> <span>Session : </span> <span class="pull-right">2019</span></h4>

                    <h4> <span>Semester Enrld : </span> <span class="pull-right">3</span></h4>

                    <h4> <span>Year Of Study : </span> <span class="pull-right">2</span></h4>
                </div>

            </div>

            <h4> <span>Program </span> <span> : Bachelor of Science in Computer Science and Engineering</span></h4>


            <div class=" box-body">
                <div class=" table-responsive">
                    <table class="table table-bordered table-hover" id="tblEmployee">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name/Title</th>
                                <th>Credit</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody id="DetailsLoadTable"></tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 pull-left">

                    <h4> <span>Total Quality Points</span> <span class="pull-right">78.876</span></h4>

                    <h4> <span>Grade Point Average </span> <span class="pull-right">3.69</span></h4>

                    <h4> <span>CGP</span> <span class="pull-right">169.245</span></h4>
                </div>




                <div class="col-sm-6 pull-right">

                    <h4> <span>Total Credit Hours </span> <span class="pull-right">21.50</span></h4>

                    <h4> <span>Cumulative Credit Hrs : </span> <span class="pull-right">38.500</span></h4>

                    <h4> <span>Status </span> <span class="pull-right">Good</span></h4>
                </div>
            </div>
            <h4> <span>Automated Print out,Signture not required. </span></h4>
            <div class="row">
                <div class="col-sm-6 pull-left">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>KEYS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <ul>
                                        <li><strong>EX -</strong> EXEMPTION</li>
                                        <li><strong>AP -</strong> ABSENT WITH PERMISSSION</li>
                                        <li><strong>I -</strong> INCOPLETE</li>
                                        <li><strong>Y -</strong> BARRED</li>
                                        <li><strong>W -</strong> WITHDRAWN</li>
                                        <li><strong>X -</strong> ABSENT WITHOUT PERMISSION</li>
                                        <li><strong>P -</strong> PASS ON RESIT/PRACTICAL TRAINING</li>
                                        <li><strong>R -</strong> RETAKE</li>

                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6 pull-right ">
                    <table class="table table-bordered">
                        <thead>
                            <tr>

                                <th>PERCENTAGEOF SCORE</th>
                                <th>LETTER GRADE</th>
                                <th>QUANLITY POINT</th>
                                <th>REMARKS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>80-100</td>
                                <td>A+</td>
                                <td>4.00</td>
                                <td>EXCELLENT</td>
                            </tr>

                            <tr>
                                <td>75-79</td>
                                <td>A</td>
                                <td>3.75</td>
                                <td rowspan="2">Very Good</td>
                            </tr>

                            <tr>
                                <td>70-74</td>
                                <td>A-</td>
                                <td>3.50</td>
                            </tr>
                            <tr>
                                <td>75-79</td>
                                <td>A</td>
                                <td>3.75</td>
                                <td rowspan="2">Very Good</td>
                            </tr>

                            <tr>
                                <td>70-74</td>
                                <td>A-</td>
                                <td>3.50</td>
                            </tr>

                            <tr>
                                <td>65-69</td>
                                <td>B+</td>
                                <td>3.25</td>
                                <td rowspan="2">Good</td>
                            </tr>

                            <tr>
                                <td>60-64</td>
                                <td>B</td>
                                <td>3.00</td>
                            </tr>

                            <tr>
                                <td>55-59</td>
                                <td>B-</td>
                                <td>2.75</td>
                                <td rowspan="2">Satisfactory</td>
                            </tr>

                            <tr>
                                <td>50-54</td>
                                <td>C+</td>
                                <td>2.50</td>
                            </tr>
                            <tr>
                                <td>45-49</td>
                                <td>C-</td>
                                <td>2.25</td>
                                <td rowspan="2">Pass</td>
                            </tr>

                            <tr>
                                <td>40-44</td>
                                <td>D</td>
                                <td>2.00</td>
                            </tr>
                            <tr>
                                <td>00-39</td>
                                <td>F</td>
                                <td>0.00</td>
                                <td>Fail</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <h4 class="pull-right" style="margin-bottom: 30px"> <strong>Date of Print: </strong> @dateToday, @hour:@minuties PM </h4>
    </div>
</section>

@section scripts {

   
    <script type="text/javascript">
        $(document).ready(function () {
            $("#content").hide();
            function callFunction(stid,crid,code, name, credit) { 
                var stdid = stid;
                var csid = crid;
                var json = { studentId: stdid,courseId:csid };
                //alert(stdid);
                $.ajax({
                    type: "POST",
                    url: '/Result/LoadCoursesResult',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $("#DetailsLoadTable").append('<tr><td>' + code + '</td><td>' + name + '</td><td>' + credit + '</td><td style="font-style=bold">' + data + '</td><tr>');
                        
                    }
                });
            }
            $("#StudentId").on('change', function () {
                $("#content").show();
                var stdId = $("#StudentId").val();
                var json = { studentId: stdId };
                $.ajax({
                    type: "POST",
                    url: '/Result/LoadStudent',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        $("#StudentName").val(data.StudentName);
                        $("#StudentEmail").val(data.StudentEmail);
                        $("#DepartmentName").val(data.DepartmentName);
                    }
                });
            });
            $("#StudentId").on('change', function() {
                $("#DetailsLoadTable").empty();
                $("#content").show();
                var stdId = $("#StudentId").val();
                var json = { studentId: stdId };
                $.ajax({
                    type: "POST",
                    url: '/Result/LoadCourses',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        if (data.length > 0)
                            $.each(data, function (key, value) {
                                callFunction(value.StudentId,value.CourseId, value.CourseCode, value.CourseName, value.CourseCredit);
                                    //$("#DetailsLoadTable").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.CourseCredit + '</td><td>' + value.CourseGrade + '</td><tr>');
                                
                            });
                        
                    }
                });
            });
        });
    </script>
}




